.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
.planner-container {
  /* Dùng Flexbox để chia cột */
  display: flex;
  
  /* Cho layout choán hết 100% chiều cao màn hình */
  height: 100vh; 
}

.timeline-section {
  /* Cột timeline chiếm 40% chiều rộng */
  flex-basis: 40%;
  min-width: 300px; 
  
  /* Nếu timeline dài, cho phép cuộn */
  overflow-y: auto; 
  padding: 1rem;
}

.map-section {
  /* Cột bản đồ chiếm phần còn lại */
  flex-grow: 1; 
  
  /* Quan trọng: Div này giờ đã có chiều cao (100vh) */
  height: 100%; 
}